body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.2em;
}
h1 {
  font-family: "PT Sans";
  font-size: 3em;
  font-weight: 700;
  font-style: italic;
  color: #333;
}
.center-text__div {
  width: 60%;
  margin: 0 auto;
  display: table;
  text-align: center;
  color: #444;
  height: 100vh;
}
.center-text__div p {
  line-height: 2em;
}
