body
    height 1500px
/*.page-one__section*/
.bg1
  position fixed
  top 0
  left 0
  min-height 75%
  height 75%
  z-index -100
.page-two__section
    background url("../img/bg2.jpg") no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover
    width 100%
    height 100%
.page-three__section
    background url("../img/bg3.jpg") no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover
    width 100%
    height 100%
.page-four__section
    background url("../img/bg4.jpg") no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover
    width 100%
    height 100%
.page-five__section
    background url("../img/bg5.jpg") no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover
    width 100%
    height 100%
.page-one__h1
    font-family "Roboto"
    font-weight 700
    font-size 5em
    text-align center
    color white
    margin 0
    text-shadow 2px 2px 8px #000
.page-one__h3
    padding-top 465px
    font-family "Open Sans"
    font-weight 300
    font-size 1.2em
    text-align center
    color white
    margin 0
    font-style italic
    text-shadow 2px 2px 8px #000
    padding-bottom 50px
.page-one-office-logo__img
    width 200px
    float right
    margin-right 120px
    margin-top 100px
    display block
.page-one-svfu-logo__img
    float left
    margin-left 120px
    margin-top 100px
    display block
.page-two__h3
    font-family "Open Sans"
    font-weight 300
    font-size 1.2em
    text-align center
    color white
    margin 0
    font-style italic
    text-shadow 1px 1px 4px #000
.page-two__h1
    padding-top 250px
    font-family "Roboto"
    font-weight 700
    font-size 5em
    text-align center
    color white
    margin 0
    text-shadow 2px 2px 8px #000
    padding-bottom 50px
.page-two__ul
    font-family "Roboto"
    font-weight 400
    color white
    text-shadow 1px 1px 3px #000
    margin 0 auto
    width 600px
    padding-top 50px
    line-height 2em
.parallaxParent
    height 100vh
    overflow hidden

.parallaxParent > *
  height: 200%
  position: relative
  top: -100%
