html
    head
        title Hello this is test
body
    div lol
    h1.
        lkjsdflk;asdfl;k faslk;jsdfal;jkasdf l;kjsd al;kj
    h2 asdlfkasldfjasldkf
    h3.
        div jfasl;d jfal;sdkjf als;kdjf ;alsdkjf
    div.
        asdfasdf asdf
    div.container
    ul.#scene.scene
    	li.layer(data-depth="1.00", src="images/layer1.png") 
    	<li class="layer" data-depth="0.80"><img src="images/layer2.png"></li>
    	<li class="layer" data-depth="0.60"><img src="images/layer3.png"></li>
    	<li class="layer" data-depth="0.40"><img src="images/layer4.png"></li>
    	<li class="layer" data-depth="0.20"><img src="images/layer5.png"></li>
    	<li class="layer" data-depth="0.00"><img src="images/layer6.png"></li>
    </ul>
    script(src="parallax.min.js")
    script.
        var scene = document.getElementById('scene');
        var parallax = new Parallax(scene);
